@use '../../styles/vars';

.recipe {
  
  &__presentation {
    text-align: center;
    position: relative;
    margin-bottom: 2rem;

    &__interaction {
      top: 1rem;
      right: 1rem;
      padding: 1rem;
      cursor: pointer;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;
  
      &__icon {
        color: vars.$first-color;
        font-size: 1.5rem;
      }
  
      &__menu {
        background-color: #fff;
        margin-top: .5rem;
        box-shadow: 0px 3px 5px #a2a2a2;
        display: none;
        position: absolute;
        right: .5rem;
        top: 3.5rem;
  
        &--display {
          display: block;
        }
  
        &__list{
          
          &__link {
            padding: 1rem;
            display: block;
            
            &:hover {
              background-color: #a2a2a2;
            }
          }
        }
      }
    }

    &__back {
      top: 1rem;
      left: 1rem;
      padding: 1rem;
      cursor: pointer;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #fff;

      &__icon {
        color: vars.$first-color;
        font-size: 1.5rem;
      }
    }
    
    &__image {
      width: 100%;
    }

    &__title {
      position: absolute;
      bottom: -15px;
      width: 100%;
      font-size: 2rem;
    }
  }

  &__description {
    display: flex;
    padding: 1rem;

    &__info {
      width: 50%;
      padding: 0 1rem;
      text-align: center;

      &__icon {
        font-size: 20px;
        margin-bottom: .5rem;
      }

      &__title {
        font-family: 'Raleway', sans-serif;
      }
    }
  }

  &__group {
    padding: 1rem;

    &__list {
      padding: 1rem;
      display: flex;
      height: 200px;
      overflow: hidden;
      overflow-x: auto;
    }
  }

  &__content {
    border-radius: 15px;
    box-shadow: 0px 3px 5px #a2a2a2;
    margin: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;

    &__menu {
      width: 100%;
      display: flex;
      justify-content: space-around;

      &__link {
        display: block;
        text-align: center;
        padding: 1rem;
        width: 50%;
        border: 2px solid transparent;
        cursor: pointer;

        &--active {
          border-bottom: 2px solid vars.$first-color;
          color: vars.$first-color;
          font-size: vars.$font-bold;
          background-color: #fff;
        }
      }
    }

    &__ingredients {
      padding: 1rem;

      &--hidden {
        display: none;
      }

      &__add {
        display: inline-block;
        width: auto;
        padding: 1rem;
        border-radius: 5px;
        background-color: #dedede;
        transition: all .5s;
        margin-bottom: 1rem;

        &:hover {
          background-color: vars.$second-color;
        }

        &__icon {
          margin-right: .5rem;
        }
      }

      &__list {

        &__item {
          padding: 1rem 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #a2a2a2;

          &__icon {
            font-size: 1.2rem;
            color: #a2a2a2;

            &__item {
              margin-right: 1rem;
              vertical-align: middle;
              cursor: pointer;

              &--red {
                color: rgb(176, 3, 3);
              }
            }
          }
        }
      }
    }

    &__steps {
      padding: 1rem;

      &--hidden {
        display: none;
      }

      &__add {
        display: inline-block;
        width: auto;
        padding: 1rem;
        border-radius: 5px;
        background-color: #dedede;
        transition: all .5s;
        margin-bottom: 1rem;

        &:hover {
          background-color: vars.$second-color;
        }

        &__icon {
          margin-right: .5rem;
        }
      }

      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid #a2a2a2;

        &__texts {
          width: 75%;

          &__title {
            margin-bottom: .25rem;
          }

          &__text {
            padding-left: 1rem;
          }
        }

        &__icon {
          font-size: 1.2rem;
          color: #a2a2a2;

          &__item {
            margin-right: 1rem;
            vertical-align: middle;
            cursor: pointer;

            &--red {
              color: rgb(176, 3, 3);
            }
          }
        }
      }
    }
  }
}

@media(min-width:769px) {
  .recipe {
    width: 60%;
    padding: 2rem;
    margin: 3rem auto;
    box-shadow: 0px 3px 5px #a2a2a2;
    border-radius: 15px;

    &__presentation {

      &__image {
        width: 50%;
        margin-bottom: 1rem;
      }

      &__title {
        position: static;
      }
    }

    &__description {
      border-top: 1px solid vars.$first-color;
      border-bottom: 1px solid vars.$first-color;
    }

    &__content {
      border-radius: 0;
      box-shadow: none;
      margin: 1rem 0 2rem 0;

      &__menu {
        justify-content: flex-start;
        margin-bottom: 2rem;

        &__link {
          padding: 1rem 0;

          &:hover {
            background-color: #dedede;
          }

          &--active {
            width: 100%;
          }
        }
      }
    }
  }
}