@use '../../styles/vars';

.group-card {
  width: 200px;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #a2a2a2;
  margin-right: 1rem;

  &__title {
    width: 100%;
    color: #fff;
    text-shadow: vars.$third-color 0 0 2px;
  }
}