@use '../../styles/vars';

.head {
  width: 100%;
  padding: 2rem;
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  &__title {
    width: 100%;
    text-shadow: vars.$third-color 0 0 2px;
    padding: .5rem;
    color: #fff;
  }
}

@media(min-width:769px) {
  .head {
    padding: 5rem;

    &__title {
      font-size: 3rem;
    }
  }
}