@use 'reset';
@use 'vars';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 100%;
}

textarea,
input {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: vars.$first-color;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}