@use '../../styles/vars';

.card {
  margin: 1rem;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #a2a2a2;
  min-width: 279px;
  position: relative;

  &--add {
    height: 291px;
    background-color: #dedede;
    border: dashed 2px #8d8d8d;
    transition: all .5s;
    color: #000;
    justify-content: center;
    max-width: 279px;

    &:hover {
      background-color: #8d8d8d;
      border: solid 2px #8d8d8d;
      color: #fff;
    }
  }

  &__add {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

    &__icon {
      font-size: 2rem;
      margin-bottom: .5rem;
    }
  }

  &__interaction {
    bottom: .5rem;
    right: .5rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__icon {
      color: vars.$first-color;
      font-size: 1.5rem;
    }

    &__menu {
      background-color: #fff;
      margin-top: .5rem;
      box-shadow: 0px 3px 5px #a2a2a2;
      position: absolute;
      right: 2rem;
      bottom: 1rem;
      display: none;

      &--display {
        display: block;
      }

      &__list{
        
        &__link {
          padding: 1rem;
          display: block;
          
          &:hover {
            background-color: #a2a2a2;
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    max-height: 220px;
  }

  &__description {
    padding: .5rem;

    &__details {
      display: flex;
      align-items: center;
      color: vars.$third-color;
      margin-top: 1rem;

      &__item {
        display: flex;
        margin-right: 1rem;

        &__icon {
          margin-right: .5rem;
        }
      }
    }
  }
}

@media(min-width: 769px) {
  .card {
    max-width: 310px;
  }
}