@use '../../styles/vars';

.sidebar {
  width: 100%;
  padding: 1rem;

  &__add {
    width: 100%;
    margin-bottom: 2rem;

    &__button {
      display: block;
      padding: 1rem;
      background-color: vars.$first-color;
      width: 100%;
      color: vars.$second-color;
      transition: all .5s;
      cursor: pointer;
      text-align: center;

      &:hover { 
        background-color: vars.$first-color;
        color: vars.$second-color;
      }

      &__icon {
        color: vars.$second-color;
      }
    }
  }

  &__search {
    margin-bottom: 1rem;

    &__title {
      margin-bottom: .5rem;
    }
  }

  &__navigation {
    width: 100%;

    &__title {
      margin-bottom: .5rem;
    }

    &__filter {
      display: inline-block;
      border: 1px solid vars.$first-color;
      padding: .5rem;
      border-radius: 50px;
      margin: .5rem;
      color: vars.$first-color;

      &__hover {
        color: #fff;
        background-color: vars.$first-color;
      }
    }
  }
}