@use '../../styles/vars';

.button {
  padding: 1rem;
  border: none;
  transition: all .5s;
  border-radius: 2px;
}

.fill {
  background-color: vars.$first-color;
  color: vars.$second-color;
  border: 1px solid vars.$first-color;

  &:hover {
    border: 1px solid vars.$second-color;
    background-color: vars.$second-color;
    color: vars.$first-color;
  }
}

.stroke {
  background-color: #fff;
  color: vars.$first-color;
  border: 1px solid vars.$first-color;

  &:hover {
    background-color: vars.$first-color;
    border: 1px solid vars.$first-color;
    color: vars.$second-color;
  }
}